<a href="https://colab.research.google.com/github/LissMendoza/inteligennciaArtificial/blob/main/25Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tmp=list()
# tmp.append(2)
# print(tmp)
# tmp.append('alexi')
# print(tmp)
# tmp.append('lisseth')
# print(tmp)

#print(tmp[3])
#aux.capitalize()
#print(aux)
#print(aux.upper())

# tmp1='hello'
# print(tmp1.capitalize())

# aux1=[1,2,3,4,5,6,7,8,9,10]
# print(aux1)

# aux1[4]=10
# print(aux1)

# print(aux1[-1])
# print(aux1[3:7])
# print(aux1[0:5])
# print(aux1[:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
#   print(aux2[:20])


#   aux3=list()
#   for indx, elem in enumerate(aux2):
#     if aux2[indx]%2==0:
#       aux3.append(aux2[indx]**2)
# print(aux3)

animals=['cat', 'dog', 'monky', 'rabbit']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10) if i%2==0 ]
print(tmp3)

cat
dog
monky
rabbit
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'cat':'cute','dog':'big'}
print(myDictionary['cat'])
myDictAux={'monkey':'black','mouse':'small','rabitt':'white'}
myDictionary.update(myDictAux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f'key : {key} Value {value}')


myList=[1,2,3,4,5,6]
myDictAux1 = {x:x**2 for x in myList}
print(myDictAux1)

cute
{'cat': 'cute', 'dog': 'big', 'monkey': 'black', 'mouse': 'small', 'rabitt': 'white'}
key : cat Value cute
key : dog Value big
key : monkey Value black
key : mouse Value small
key : rabitt Value white
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
   tmp=var1+var2
  else:
   tmp=var1-var2
  return tmp

num1=3
num2=7
control=True
print(suma(num1,num2,control))

10

In [ ]:
listaNumero = [-1, +1, 0]

def numero_positivo_negativo(numero):
    if numero > 0:
        return numero, "positivo"
    elif numero < 0:
        return numero, "negativo"
    else:
        return numero, "cero"

resultados = [numero_positivo_negativo(numero) for numero in listaNumero]
for numero, clasificacion in resultados:
    print(f"El número {numero} es {clasificacion}.")

El número -1 es negativo.
El número 1 es positivo.
El número 0 es cero.

26 de Junio

In [9]:
#SET AS A CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('alexi')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('alexi')
print(var1)
len
print(len(var1))


print(3 in var1)

for elem in var1:
  print(elem)

{3}
{'alexi', True, 3}
{'alexi', True, 3, 5}
{True, 3, 5}
3
True
True
3
5

In [17]:
#TUPLES
var2=tuple()
var=(1,2,3,4,5)
print(type(var))

#elemento_a_eliminar = 3
#var_sin_elemento = tuple(x for x in var if x != elemento_a_eliminar)

#print(var_sin_elemento)

aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [21]:
#DEFINE A CLASS
class saludo(object):
    def __init__(self, name):
        print("El objeto ha sido creado")
        self.name = name

    def saludoPersonal(self):
        return f"Hola, {self.name}"

name1 = saludo('alexi')
name2 = saludo('lisseth')
name3 = saludo('mendoza')

print(name1.saludoPersonal())

El objeto ha sido creado
El objeto ha sido creado
El objeto ha sido creado
Hola, alexi

In [22]:
class Cuadrado:
    def __init__(self, lado):
        self.lado = lado

    def calcular_area(self):
        area = self.lado ** 2
        return area

lado_cuadrado = 5
mi_cuadrado = Cuadrado(lado_cuadrado)
area_cuadrado = mi_cuadrado.calcular_area()

print(f"El área del cuadrado con lado {lado_cuadrado} es: {area_cuadrado}")

El área del cuadrado con lado 5 es: 25

In [26]:
class Calculadora:
    def __init__(self, radio, base, altura, lado): #Fixed the typo here, it should be __init__
        self.radio = radio
        self.base = base
        self.altura = altura
        self.lado = lado

    def area_circulo(self):
        return 3.1416 * self.radio ** 2

    def area_triangulo(self):
        return (self.base * self.altura) / 2

    def area_cuadrado(self):
      return self.lado ** 2

# Example usage
calculadora = Calculadora(8, 7, 14, 12)

area_circulo = calculadora.area_circulo()
print("Area del circulo:", area_circulo)

area_triangulo = calculadora.area_triangulo()
print("Area del triangulo:", area_triangulo)

area_cuadrado = calculadora.area_cuadrado()
print("Area del cuadrado:", area_cuadrado)

Area del circulo: 201.0624
Area del triangulo: 49.0
Area del cuadrado: 144

In [31]:
#CLASE DONDE SE PERMITA INGRESAR EL NOMBRE EN MAYUSCULAS Y EDAD - NOMBRE INGRESO EN MINUSCULAS PERO QUE IMPRINA EN MAYUSCYULAS

class nombreEdad(object):
  def __init__(self,name,age):
    print(f"Objeto creado")
    self.name=name
    self.age=age
  def upperName(self):
    return f"Name: {self.name.upper()} and the age: {self.age}"

estudiante1=nombreEdad('Alexi',21)

print(estudiante1.upperName())

Objeto creado
Name: ALEXI and the age: 21

In [33]:
class Calculadora:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def sumar(self):
        resultado = self.num1 + self.num2
        self.mostrar_paridad(resultado)
        return resultado

    def restar(self):
        resultado = self.num1 - self.num2
        self.mostrar_paridad(resultado)
        return resultado

    def multiplicar(self):
        resultado = self.num1 * self.num2
        self.mostrar_paridad(resultado)
        return resultado

    def mostrar_paridad(self, numero):
        if numero % 2 == 0:
            print(f"El resultado {numero} es par.")
        else:
            print(f"El resultado {numero} es impar.")

# Ejemplo de uso
calc = Calculadora(10, 5)

# Operaciones
resultado_suma = calc.sumar()
resultado_resta = calc.restar()
resultado_multiplicacion = calc.multiplicar()

# Resultados
print(f"Suma: {resultado_suma}")
print(f"Resta: {resultado_resta}")
print(f"Multiplicación: {resultado_multiplicacion}")

El resultado 15 es impar.
El resultado 5 es impar.
El resultado 50 es par.
Suma: 15
Resta: 5
Multiplicación: 50

In [34]:
class Calculadora:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def sumar(self):
        resultado = self.num1 + self.num2
        self.mostrar_resultado(resultado)

    def restar(self):
        resultado = self.num1 - self.num2
        self.mostrar_resultado(resultado)

    def multiplicar(self):
        resultado = self.num1 * self.num2
        self.mostrar_resultado(resultado)

    def mostrar_resultado(self, resultado):
        if resultado % 2 == 0:
            print(f"El resultado de la operación es {resultado} y es par.")
        else:
            print(f"El resultado de la operación es {resultado} y es impar.")

# Ejemplo de uso
calc = Calculadora(10, 5)

# Operaciones
print("Suma:")
calc.sumar()

print("\nResta:")
calc.restar()

print("\nMultiplicación:")
calc.multiplicar()

Suma:
El resultado de la operación es 15 y es impar.

Resta:
El resultado de la operación es 5 y es impar.

Multiplicación:
El resultado de la operación es 50 y es par.